
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap');


*{
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  /* outline: 1px solid red; */
}

body{
  background-color: var(--green);
}
:root {
  --green: #00302E;
  --white: #ffffff;
  --brown: #FBDDBB;
  overscroll-behavior: none;
    
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-left: 46px;
  padding-right: 46px;
  padding-top: 46px;
  padding-bottom: 46px;
}

.logo img{
  width: 57.48px;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
}

nav ul li a{
  text-decoration: none;
}

.logo{
  display: flex;
  align-items: center;
  gap: 7px;
}

nav h2{
  color: var(--white);
  font-weight: 700;
}
.first{
  color: var(--brown);
}
.second{
  color: var(--white);
}
.btn{
background-color: var(--brown);
color: var(--green);
padding: .6rem 1.2rem;
border-radius: 7px;
font-weight: 600;
  
}

/* .header{
height: 100vh;
} */
 

.hero{
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding-right: 46px;
 padding-left: 46px;
 gap: 2rem;

}

.hero-content{
  flex: 1 1 40%;
}

.hero-content h2{
  color: var(--white);
  font-size: 64px;
  font-weight: 500;
  line-height: 77px;

}

.hero-content p{
color: var(--white);
font-size: 18px;
font-weight: 400;
padding: 1.5rem 0; 
line-height: 33px;
}

.hero-img{
  flex: 1 1 40%;
}

.hero-img img{
  width: 100%;
  height: auto;

}

.download-links >img{
  padding-right: 1rem;
}

.hero-content span{
  color: var(--brown);
}


.special-meal{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 65px;
  
}

.special-meal-header{
  color: var(--white);
  text-align: center;
}

.special-meal-img{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  color: var(--white);
  gap: 4rem;
  flex: 1 1 25%;
  padding: 46px;
}

.special-meal-img img{

  width: 100%;
  height: auto;
}



.updates{
  padding-top: 10rem;
  padding-bottom: 10rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  text-align: left;
  color: var(--white);
  padding-left: 46px;
  padding-right: 46px;

}

.first-section{
  flex: 1 1 40%;
}

.second-section{
  flex: 1 1 40%;
  width: 100%;
}

.updates h2{
  color: var(--brown);

}



input {
  height: 51px;
  width: 50%;
  border-radius: 5px;
  border:1px;
  outline: none;
  padding-left: 16px;
}




.footer{
  background-color: black;
  color: var(--white);
  display: flex;
  justify-content: space-around;
  border: 0;
  padding-top: 60px;
  padding-bottom: 60px;

}


.footer ul li{
  list-style-type: none;
  text-align: left;
  font-family: 'Inter', sans-serif;;
  cursor: pointer;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;

}

.footer h2{
  text-align: left;
  font-weight: 500;

}

svg{
  display: none;
}



@media screen and (max-width: 770px) {
  .special-meal-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  
  }
  .special-meal-header{
    padding-top: 120px;
  }
      



  .hero-img img{
    
    height: auto;
  
  }

}


@media screen and (max-width: 550px) {

  .hero-img img{
    height: auto;
    padding-top: 64px;
  }


.hero-content h2 {
  color: var(--white);
  font-size: 56px;
  font-weight: 500;
  line-height: 77px;
}
    .logo img {
      width: 30px;
    }

  svg{
    display: block;
  }

  .hero{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;

  }

  .updates{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 8rem;
    padding-bottom: 10rem;
  }
  
  .special-meal-header{
    padding-top: 220px;
    /* width: 100vw; */
  } 

  nav{
    display: flex;
      justify-content: space-between;
      align-items: center;
  }

  nav ul{

        display: none;
        
     }
    


  .footer{
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    text-align: center;
  }

  .footer ul li{
    text-align: center;
  }

  .footer h2{
    text-align: center;
    padding-bottom: 16px;
    font-weight: 500;
  }


  input{
   width: 100%;
  }
}



@media screen and (max-width: 1024px){
  .hero{
    flex-direction: column;
  }
}


@media screen and (max-width: 280px){

  .hero-content h2{
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .hero-content {
    width: 100%;
  }
}
