
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: var(--green);
}
:root {
  --green: #00302E;
  --white: #ffffff;
  --brown: #FBDDBB;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo img{

  width: 57.48px;

}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
}

nav ul li a{
  text-decoration: none;
}

.logo{
  display: flex;
  align-items: center;
  gap: 7px;
}

nav h2{
  color: var(--white);
  font-weight: 700;
}
.first{
  color: var(--brown);
}
.second{
  color: var(--white);
}
.btn{
background-color: var(--brown);
color: var(--green);
padding: .6rem 1.2rem;
border-radius: 7px;
  
}

.header{
height: 100vh;
}


.hero{
 display: flex;
 justify-content: space-between;
 align-items: center;

}

.hero-content{
  max-width: 670px;
}

.hero-content h2{
  color: var(--white);
  font-size: 64px;
  font-weight: 500;
  line-height: 77px;

}

.hero-content p{
color: var(--white);
font-size: 18px;
font-weight: 400;
padding: 1.5rem 0; 
line-height: 33px;

}

.hero-img img{
  width: 400px;
  height: 400px;

}

.download-links >img{
  padding-right: 1rem;
}

.hero-content span{
  color: var(--brown);
}


.special-meal{
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.special-meal-header{
  color: var(--white);
  margin-top: 12rem;
  text-align: center;
}

.special-meal-img{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
 color: var(--white);
  gap: 5rem;
}

.special-meal-img img{

  width: 250px;
  height: 250px;
}

.updates{
  min-height: 100vh;
  margin-top: 12rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}























